body {
  margin: 40px 0;
  color: #444;
  font: 16px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4 {
  font-weight: bold;
  color: #000;
}
pre {
  background-color: #fff;
  border: 0;
}
.post h1.title, .post h3 {
  margin-top: 80px;
}
