<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}css/style.css"/>
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}css/syntax.css"/>
        <style>
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- header -->
                    <h1>{{ site.title }}</h1>
                    <p>
                        Learn {{ site.about }}, read more of my {{ site.blog }}, or say hello {{ site.email }}
                    </p>
                    <hr/>
                    <br/>
                    <!-- content -->
                    <h2>{{ page.title }}</h2>
                    {{ content }}
                    <!--  comments -->
                    {% if site.env == 'production' %}
                        {% include comments.html %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if site.env == 'production' %}
            {% include ga.html %}
        {% endif %}
    </body>
</html>