<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}css/tcomb.css"/>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}css/syntax.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="col-md-8 col-md-offset-2">
            <div class="navbar-header">
              <a class="navbar-brand" href="https://github.com/gcanti/tcomb"><div class="logo">t.</div></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <ul class="nav navbar-nav">   
                <li class="blog"><a href="/">Blog</a></li> 
              </ul>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="jumbotron text-center">
        <div class="container">
           <h1>Pragmatic runtime type checking for JavaScript</h1>
           <h2>Debugger will kick your ass.</h2>
        </div><!--container-->
      </div>

    </div>
    <div class="container content">
      <div class="col-md-8 col-md-offset-2">
        {{ content }}
      </div>
    </div>
    {% if site.env != 'development' %}
        {% include ga.html %}
    {% endif %}
  </body>
</html>